Allow header values to include non-ascii chars

We recently switched from another HTTP client library to Finch (which uses Mint) on production.
Then we found that some of our request headers include non-ASCII chars in header values (e.g. `Mayagüez`, `Cañon`, etc.)
And Mint requires header values to be ASCII chars only: https://github.com/elixir-mint/mint/blob/568da76fc02d7dbbb7a283c25deda35f8983ecfa/lib/mint/http1/request.ex#L85-L87
So these requests failed. 
(They didn't fail before because our previous HTTP client library doesn't have this validation)

I did some research and found that non-ascii chars are actually allowed in header values:
https://stackoverflow.com/questions/4400678/what-character-encoding-should-i-use-for-a-http-header
> field-content  = <the OCTETs making up the field-value
>                 and consisting of either *TEXT or combinations
>                 of token, separators, and quoted-string>
> OCTET          = <any 8-bit sequence of data>
> TEXT           = <any OCTET except CTLs,
>                 but including LWS>
> CTL            = <any US-ASCII control character
>                 (octets 0 - 31) and DEL (127)>
> token          = 1*<any CHAR except CTLs or separators>
> separators     = "(" | ")" | "<" | ">" | "@"
>                 | "," | ";" | ":" | "\" | <">
>                 | "/" | "[" | "]" | "?" | "="
>                 | "{" | "}" | SP | HT

which means most OCTETs are allowed in field-content (i.e. header value), not only `33...126`?
**So can we ease this `is_vchar` validation?**

BTW, is it too restrictive for Mint to validate the request after all?

Also, this issue might be related to #272

RFC7230 supersedes the RFC2616 specification you are referencing. The new specification states (https://tools.ietf.org/html/rfc7230#section-3.2.4):

> Historically, HTTP has allowed field content with text in the
   ISO-8859-1 charset [ISO-8859-1], supporting other charsets only
   through use of [RFC2047] encoding.  In practice, most HTTP header
   field values use only a subset of the US-ASCII charset [USASCII].
   Newly defined header fields SHOULD limit their field values to
   US-ASCII octets.  A recipient SHOULD treat other octets in field
   content (obs-text) as opaque data.

So while non ASCII data is allowed it should be avoided and ignored. Since Mint is a new HTTP client we are following the latest specifications and their recommendations.

I see, thanks for the reference!
I didn't know RFC7230 before.
It makes sense now.

I'll close this for now since I don't think we should support this in Mint, as @ericmj mentioned. Thanks for the issue @dsdshcym! 💟 